.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 130px;
  gap: 30px;
  background-color:white
}

.about-content {
  flex: 1;
}

.about-title {
  font-size: 36px;
  color: #007bff;
  margin-bottom: 20px;
}

.about-text {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.6;
}

.about-subtitle {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #007bff;
}

.about-list {
  list-style: none;
  padding: 0;
}

.about-list li {
  margin-bottom: 8px;
  font-size: 18px;
}

.about-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #007bff;
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-image img {
    margin-top: 20px;
    width: 200px;
    height: 200px;
  }
}
