.skills-container {
  padding: 50px;
  background-color:white;
  text-align: center;
}

.skills-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 25px;
}

.skill-card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.html { color: #e34c26; }
.css { color: #264de4; }
.js { color: #f7df1e; }
.react { color: #61dafb; }
.bootstrap { color: #563d7c; }
.tailwind { color: #38bdf8; }
.redux { color: #764abc; }
.ts { color: #3178c6; }

.progress-bar {
  background: #ddd;
  height: 8px;
  border-radius: 5px;
  margin: 10px 0;
}

.progress-fill {
  background: #007bff;
  height: 100%;
  border-radius: 5px;
}

.skill-level {
  font-size: 14px;
  color: #333;
  font-weight: bold;
}
